.hideme {display:none;}
.alert {margin-bottom: 12px; padding: 7px; margin-top: 9px;}

.yellow1 {color: #F2FA0F;}
.red1 {color: #FA0F26;}
.blue1 {color: #0000FF;}
.jumbotron p {font-size: 115%;}
p {font-size: 115%;}
body {font-size: 16px;}


